body {
  margin: 0;
  background-color: #eee; /* note CSS spelling of 'color' */
  font-family: Arial, Helvetica, Verdana, sans-serif;
  font-size: 80%;
}
#container {
  /*
    these rules make the whole page narrower and centre it on screen: 
    if you uncmment them and reload the browser, comment them out again
  */
  /*width: 900px;*/
  /*margin-left: auto;*/
  /*margin-right: auto;*/
}
header {
  background-color: darkred;
  color: #fff;
}
header h1 {
  font-size: 1.5em;
  letter-spacing: 6px;
  margin: 0;
  line-height: 3em;
  text-align: center; /* note CSS spelling of ‘center’ */
}

h3 {
  font: bold;
  color: #cdd0d7;
}

h4 {
  font: bold;
  color: #cdd0d7;
}

img {
  height: 50%;
}

nav {
  /* you can use percentages for widths */
  /*width: 150px;*/
  font-size: 1em;
  line-height: 2.5em;
  text-align: center;
  background-color: silver;
  /*border-bottom: 2px solid #565;*/
}

nav2 {
  /* you can use percentages for widths */
  width: 25%;
  font-size: 1em;
  line-height: 2.5em;
  text-align: center;
  background-color: silver;
  float: left;
  position: relative;
  /*border-bottom: 2px solid #565;*/
}

nav2 a:link,
nav2 a:visited {
  /*
    20% with 5 items will fill the width - use box-sizing
    (see bottom of this file) if necessary
  */
  width: 100%;
  display: block;
  background-color: silver;
  text-decoration: none;
  color: #000;
  border-bottom: 4px solid darkred;
  transition: all 0.5s;
  border-top-right-radius: 20%;
}

nav2 a:hover,
nav2 a.here  {
  background-color: darkred;
  color: #fff;
  /*border-bottom: 4px solid #9aa;*/
}
/*nav a.here {
  background-color: #565;
}*/

nav a:link,
nav a:visited {
  /*
    20% with 5 items will fill the width - use box-sizing
    (see bottom of this file) if necessary
  */
  width: 16%;
  display: inline-block;
  background-color: silver;
  text-decoration: none;
  color: #000;
  /*border-bottom: 4px solid #565;*/
  transition: all 0.5s;
}
nav a:hover,
nav a.here  {
  background-color: darkred;
  color: #fff;
  /*border-bottom: 4px solid #9aa;*/
}
nav a.here {
  background-color: darkred;
}

main {
  /* you can use percentages for widths */
  /*width: 490px;*/
  clear: both;
  padding: 1em 30px 2em; /* top, right-left, bottom */
  background-color: #fff;
  background: #870000; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #870000 , #190A05); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #870000 , #190A05); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-size: 1.25em;
  line-height: 1.85em;
  overflow: auto;
}

section {
  clear: both;
  margin-top: 1.5em;
  overflow: auto;
}
section h2 {
  font-size: 1.25em;
  margin: 0;
  border-top: 2px solid #676;
  color: #cdd0d7;
}
section:first-child h2 {
  border-top: none;
}
/* SEE http://www.w3schools.com/cssref/sel_firstchild.asp */

section p {
  margin: 1em 0 0; /* top, right and left, bottom */
  color: #cdd0d7;
}
section a[href="#"] {
  display: block;
  color: #999;
  text-align: right;
}
/* SEE http://www.w3schools.com/css/css_attribute_selectors.asp */

figure {
  width: 40%;
  float: left;
  border: 1px solid #333;
  background: #565;
  color: #fff;
  padding: 0;
  margin: 1em 2% 0.25em 0; /* top, right, bottom, left */
  border-radius: 8px;
  overflow: hidden;
}
figure img {
  display: block;
  width: 100%;
  height: auto;
}
figure figcaption {
  text-align: center;
  padding: 2px 6px;
}

footer {
  clear: both;
  border-top: 2px solid #676;
  padding: 0.5em 30px; /* top-bottom, right-left */
  background-color: #9a9;
  text-align: right;
}
/*#container,
header,
main,
nav,
section,
figure,
footer {
  box-sizing: border-box;
}*/


#tableContainer-1 {
  height: 100%;
  width: 100%;
  display: table;
}
#tableContainer-2 {
  vertical-align: middle;
  display: table-cell;
  height: 100%;
}

#contentcontainer {
    width: 800px;
    background-color: #fff;
    margin: 0 auto;
}


table.frmain{
  height:339px;
  width: 799px;
  border-collapse:separate;
  font-weight:bold;
  font-size:.85em;
  text-align:center;
  empty-cells:show;
}
table.frmain thead tr{
  height:21px
}
table.frmain tbody tr{
  height:80px
}
table.frmain thead th
{
  background:#000;
}
table.frmain td{
  background-image:url(/styles/images/tr79.gif);
  background-position:
  left center;
  background-repeat:repeat-x;
  color:#333;
  margin:0;
  padding-left:5px;
  padding-right:5px
}
table.frmain td.kickoff{
  color:#c60000
}
table.frmain td.kickoff a{
  color:#c60000
}
table.frsub td.tbckickoff{
  padding-right:8px
}

.v{
  position:relative;
  top:-14px;margin:0 7px
}
table.frmain td.date{
  width:140px;
  text-transform:uppercase
}
table.frmain td.type{
  width:77px
}
.teams{
  display:block;
  text-transform:uppercase
}

thead th {
    background: #C70101 none repeat-x scroll center top;
    color: #fff;
}

table.frmain thead th {
    text-transform: uppercase;
    font-size: .825em;
}

tbody {
    color: #848484;
    text-align: center;
}

table.frmain td {
    border: solid 1px #ddd;
}

 /* Popup container */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
    visibility: hidden;
    width: 700px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

 /* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

blankpage {
    background-color: #f3f1f1;
    margin-left: 20px;
    font-family: arial, helvetica, sans-serif;
    color: #505050;
    position: relative;
    font-size: 70%;
}

#selCountry {
    font-size: 95%;
}

#redText {
    color: #cc0000;
    font-weight: bold;
}

#pageTitle {
    font-weight: bold;
    font-size: 130%;
}

div.text p {
    margin-top: 0px;
}

.modalDialog {
        position: fixed;
        font-family: Arial, Helvetica, sans-serif;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0,0,0,0.8);
        z-index: 99999;
        opacity:0;
        -webkit-transition: opacity 400ms ease-in;
        -moz-transition: opacity 400ms ease-in;
        transition: opacity 400ms ease-in;
        pointer-events: none;
    }

    .modalDialog:target {
        opacity:1;
        pointer-events: auto;
    }

    .modalDialog > div {
        width: 400px;
        position: relative;
        margin: 10% auto;
        padding: 5px 20px 13px 20px;
        border-radius: 10px;
        background: #fff;
    }

    .close {
        background: #606061;
        color: #FFFFFF;
        line-height: 25px;
        position: absolute;
        right: -12px;
        text-align: center;
        top: -10px;
        width: 24px;
        text-decoration: none;
        font-weight: bold;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        border-radius: 12px;
        -moz-box-shadow: 1px 1px 3px #000;
        -webkit-box-shadow: 1px 1px 3px #000;
        box-shadow: 1px 1px 3px #000;
    }

    .close:hover { background: #00d9ff; }
